<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Corider"
        tools:targetApi="31">
        <activity
            android:name=".Admin.View_user"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
        <activity
            android:name=".StartActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginSelectionActivity"
            android:exported="true" /> <!-- Razorpay Payment Activity -->
        <activity
            android:name=".Payment.RazorpayPayment"
            android:exported="true"/>
        <activity
            android:name=".Fragment.UserCancelledFragment"
            android:exported="true" />
        <activity
            android:name=".Fragment.UserCompletedFragment"
            android:exported="true" />
        <activity
            android:name=".Fragment.UserScheduledFragment"
            android:exported="true" />
        <activity
            android:name=".User.UserDisplayRide"
            android:exported="true"></activity>
        <activity
            android:name=".User.DriverRatingFeedback"
            android:exported="true" />
        <activity
            android:name=".User.ride_resultsonsearch"
            android:exported="true" />
        <activity
            android:name=".Driver.DriverDisplayRide"
            android:exported="true" />
        <activity
            android:name=".User.SearchRideForm"
            android:exported="true" />
        <activity
            android:name=".User.UserHomePage"
            android:exported="true" />
        <activity
            android:name=".Driver.DriverHomePage"
            android:exported="true" />
        <activity
            android:name=".Driver.DriverNavigation"
            android:exported="true" />
        <activity
            android:name=".User.UserNavigation"
            android:exported="true"></activity>
        <activity
            android:name=".User.SearchRideActivity"
            android:exported="true"></activity>
        <activity
            android:name=".Driver.ProfileFragment"
            android:exported="true" />
        <activity
            android:name=".Driver.PublishActivity"
            android:exported="true"></activity>
        <activity
            android:name=".Driver.DriverInbox"
            android:exported="true" />
        <activity
            android:name=".User.RideResultsActivity"
            android:exported="true" />
        <activity
            android:name=".Publishmap1"
            android:exported="true" />
        <activity
            android:name=".RegisteredUsersActivity"
            android:exported="true" />
        <activity
            android:name=".Admin.Admin_home_page"
            android:exported="true" />
        <activity
            android:name=".PublishSucess"
            android:exported="true" />
        <activity
            android:name=".UserProfilePageActivity"
            android:exported="true" />
        <activity
            android:name=".Driver.RidePublishForm2"
            android:exported="true" />
        <activity
            android:name=".Driver.ToDestination"
            android:exported="true" />
        <activity
            android:name=".Driver.RidePublishForm"
            android:exported="true" />
        <activity
            android:name=".SignActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">

        </activity>


        <activity
            android:name=".Splash_Screen"
            android:exported="true" />
        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:exported="true" />

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY_HERE" />
        <meta-data
            android:name="razorpay.api_key"
            android:value="@string/razropay_api_key" />
    </application>

</manifest>